.caption {
	font-weight: 100;
	font-size: 24px;
	margin-left: 20px;
	color: #F30;
	margin-bottom: -25px;
}

.countdown {
	margin-left: 26px;
	font-size: 15px;
	font-weight: 100;
}

.flag {
	color: blue;
	font-family: impact;
	font-size: 25px;
	text-align: center;
}

h2 {
	text-align: center;
}